
header {
  font-size: 60px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  margin-top: 80px;
}


.sidenav {
    height: 200%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
    font-family: #garamond; /* 0.5 second transition effect to slide in the sidenav */
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cc3399;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    color: black;
}
div.nav {
  text-align: center;
}
 ul {
   display: inline-block;
   font-family: 'Futura';
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: none;
   list-style-type: : none;
 }

 li {
   display: inline-block;
 }
    li a {
      color: white;
      text-align:center;
      padding: 14px 16px;
      text-decoration: none;
    }
      li a:hover {
        background-color: pink;
      }
a {
  color:white;
}

        .welcome {
          width: 72ch;
          margin-right: auto;
          margin-left: auto;
          margin-top: 100px;
        }

        .art {
          width: 72ch;
          height: 30ch;
          margin-right: auto;
          margin-left: auto;
          margin-top: 100px;
          background-image: url('images/MJ.jpg');


        }

        .summer {
          width: 72ch;
          height: 30ch;
          margin-right: auto;
          margin-left: auto;
          margin-top: 100px;
          background-image: url('images/flamingos1.jpg');
        }

        .religious {
          width: 72ch;
          height: 30ch;
          margin-right: auto;
          margin-left: auto;
          margin-top: 100px;
          background-image: url('images/lakshmi-devi.jpg');
        }

.art a {
    font-size: 15px;
    font-family: 'Futura';
    color: black;
    text-align: left;
    text-decoration: none;
    background-color: none;
    margin-bottom: 0;
  }
   .art a:hover {
     color: #cc3399;
   }

   .art a:visited {
     color: #58CAF3;
   }

  .art .subtitle {
    font-size: 12px;
    color: black;
    text-align: left;
    text-decoration: none;
    margin-top: 0;
  }
  .summer a {
      font-size: 15px;
      font-family: 'Futura';
      color: black;
      text-align: left;
      text-decoration: none;
      background-color: none;
      margin-bottom: 0;
    }
     .summer a:hover {
       color: #cc3399;
     }

     .summer a:visited {
       color: #58CAF3;
     }

    .summer .subtitle {
      font-size: 12px;
      color: black;
      text-align: left;
      text-decoration: none;
      margin-top: 0;
    }
    .religious a {
        font-size: 15px;
        font-family: 'Futura';
        color: black;
        text-align: left;
        text-decoration: none;
        background-color: none;
        margin-bottom: 0;
      }
       .religious a:hover {
         color: #cc3399;
       }

       .religious a:visited {
         color: #58CAF3;
       }

      .religious .subtitle {
        font-size: 12px;
        color: black;
        text-align: left;
        text-decoration: none;
        margin-top: 0;
      }
